.u-color--chestnut {
  color: #BC4752;
}

.u-color--tuna {
  color: #323232;
}

.u-color--navy {
  color: #193B5B;
}

.u-color--astral {
  color: #337AB7;
}

.u-color--tundora {
  color: #4A4A4A;
 }
 
 .u-color--doveGray {
   color: #717171;
 }
 
.u-color--dustyGray {
  color: #9B9B9B;
}
.u-color--danube {
  color: #73A3CD;
}
.u-color--silverSand {
  color: #C4C7CA;
}
.u-color--vidaLoca {
  color: #65A61D;
}
.u-color--chateauGreen {
  color: #44BB66;
}
.u-color--dixie {
  color: #DB9016;
}
.u-color--error {
  color: #EE5042;
}

.u-color--white {
  color: #FFFFFF;
}

.u-background--biscay {
  background-color: #193B5B;
}
.u-background--hintOfGreen {
  background-color: #EAFFF0;
}
.u-background--papayaWhip {
  background-color: #FFEFD4;
}
.u-background--linkWater {
  background-color: #F5F8FC;
}

.u-background--redish {
  background-color: #FBECEA;
}
.u-background--alabaster {
  background-color: #F7F7F7;
}
.u-background--gray {
  background-color: #F5F5F5;
}