/* Utilities */

.u-position--relative { position: relative; }
.u-position--absolute { position: absolute; }
.u-userSelect--none { user-select: none; }
.u-pointerEvents--none { pointer-events: none; }
.u-overflow--hidden { overflow: hidden; }
.u-overflow--visible { overflow: visible; }
.u-overflow--auto { overflow: auto; }
.u-overflowWrap--breakWord {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.u-cursor--pointer { cursor: pointer; }
.u-cursor--default { cursor: default; }

.u-minHeight--full { min-height: 100%; }
.u-minWidth--full { min-width: 100%; }
.u-maxHeight--300 { max-height: 300px; }
.u-maxHeight--200 { max-height: 200px; }
.u-height--full { height: 100%; }
.u-width--full { width: 100%; }
.u-width--half { width: 50%; }
.u-width--third { width: 33.33%; }
.u-width--auto { width: auto; }
.u-height--auto { height: auto; }

/* Spacing utility classes */

.u-margin-none { margin: 0; }
.u-padding-none { padding: 0; }
.u-padding--small { padding: 6px; }
.u-padding--row { padding: 14px 12px; }
.u-padding--more { padding: 60px 0; }
.u-paddingRight--20 { padding-right: 20px; }
.u-paddingRight--more { padding-right: 25px; }
.u-paddingLeft--20 { padding-left: 20px; }
.u-paddingRight--30 { padding-right: 30px; }
.u-paddingRight--50 { padding-right: 50px; }
.u-paddingLeft--30 { padding-left: 30px; }
.u-paddingTop--30 { padding-top: 30px; }
.u-paddingTop--normal { padding-top: 12px; }
.u-paddingBottom--normal { padding-bottom: 12px; }
.u-paddingBottom--small { padding-bottom: 6px; }
.u-paddingBottom--30 { padding-bottom: 30px; }
.u-paddingRight--10 { padding-right: 10px; }
.u-paddingLeft--10 { padding-left: 10px; }
.u-paddingRight--5 { padding-right: 5px; }
.u-paddingLeft--5 { padding-left: 5px; }
.u-paddingLeft--15 { padding-left: 15px; }
.u-paddingLeft--12 { padding-left: 12px; }
.u-paddingTop--10 { padding-top: 10px; }
.u-paddingBottom--more { padding-bottom: 25px; }
.u-paddingBottom--most { padding-bottom: 40px; }
.u-paddingLeft--more { padding-left: 25px; }
.u-paddingLeft--most { padding-left: 40px; }
.u-paddingBottom--10 { padding-bottom: 10px; }
.u-paddingLeft--small { padding-left: 6px; }
.u-marginLeft--small { margin-left: 6px; }
.u-marginLeft--normal { margin-left: 12px; }
.u-marginRight--small { margin-right: 6px; }
.u-marginRight--normal { margin-right: 12px; }
.u-marginBottom--small { margin-bottom: 6px; }
.u-marginTop--small { margin-top: 6px; }
.u-marginTop--8 { margin-top: 8px; }
.u-marginTop--4 { margin-top: 4px; }
.u-marginBottom--normal { margin-bottom: 12px; }
.u-marginTop--normal { margin-top: 12px; }
.u-marginBottom--30 { margin-bottom: 30px; }
.u-marginBottom--50 { margin-bottom: 50px; }
.u-marginTop--15 { margin-top: 15px; }
.u-marginTop--30 { margin-top: 30px; }
.u-marginTop--50 { margin-top: 50px; }
.u-marginTop--40 { margin-top: 40px; }
.u-marginRight--30 { margin-right: 30px; }
.u-marginRight--50 { margin-right: 50px; }
.u-marginLeft--30 { margin-left: 30px; }
.u-marginLeft--50 { margin-left: 50px; }
.u-marginBottom--20 { margin-bottom: 20px; }
.u-marginTop--20 { margin-top: 20px; }
.u-marginRight--20 { margin-right: 20px; }
.u-marginLeft--20 { margin-left: 20px; }
.u-marginBottom--10 { margin-bottom: 10px; }
.u-marginBottom--15 { margin-bottom: 15px; }
.u-marginBottom--40 { margin-bottom: 40px; }
.u-marginTop--10 { margin-top: 10px; }
.u-marginRight--10 { margin-right: 10px; }
.u-marginLeft--10 { margin-left: 10px; }
.u-marginLeft--15 { margin-left: 15px; }
.u-marginLeft--12 { margin-left: 12px; }
.u-marginTop--more { margin-top: 20px; }
.u-marginBottom--more { margin-bottom: 20px; }
.u-marginBottom--5 { margin-bottom: 5px; }
.u-marginLeft--5 { margin-left: 5px; }
.u-marginRight--5 { margin-right: 5px; }
.u-modalPadding { padding: 25px; }
.u-modalPaddingNoTop { padding: 0px 25px 25px 25px; }
.u-borderPadding { padding: 30px; }

/* Display utilities */

.u-display--block { display: block; }
.u-display--inlineBlock { display: inline-block; }
.u-display--none { display: none; }

/* Border classes */

.u-borderAll--grayDashed { border: 1px dashed #C4C8CA; }
.u-borderAll--gray { border: 1px solid #C4C8CA; }
.u-borderTop--gray { border-top: 1px solid #C4C8CA; }
.u-borderRight--gray { border-right: 1px solid #C4C8CA; }
.u-borderBottom--gray { border-bottom: 1px solid #C4C8CA; }
.u-borderBottom--none { border-bottom: none !important; }
.u-borderLeft--gray { border-left: 1px solid #C4C8CA; }
.u-border--3 { border-radius: 3px; }
