---
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    labels:
      - "dependencies"
      - "go"
      - "type::chore"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gomod"
    directory: "/kurlkinds"
    labels:
      - "dependencies"
      - "go"
      - "type::chore"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - "dependencies"
      - "github-actions"
      - "type::chore"
    schedule:
      interval: "weekly"
      
   - package-ecosystem: "npm"
    directory: "/"
    labels:
      - "dependencies"
      - "javascript"
      - "type::chore"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 25      
