/install_scripts/
/build/
/dist/
/tmp/
node_modules/
.idea
*DS_Store
supported-versions-gen.json
addons-gen.json
.envrc
.github/workflows/payloads
addons/*/*/assets
addons/*/*/images
addons/*/*/rhel-*
addons/*/*/ubuntu-*
packages/*/*/assets
packages/*/*/images
packages/*/*/rhel-*
packages/*/*/ubuntu-*


*.key
*.spdx
*.swp
sbom/


# ide 
.vscode
