/install_scripts/
/build/
/dist/
/tmp/
/web/templates
node_modules/
.idea
*DS_Store
versions.json
supported-versions-gen.json
addons-gen.json
package-lock.json
/packages/host/*/*/
/packages/rke-2/*/*/