apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-migrate-fs-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio-migrate-fs-backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minio-migrate-fs-backend
    spec:
      containers:
      - name: minio
        volumeMounts:
        - name: data 
          mountPath: "/data"
        image: minio/minio:RELEASE.2024-10-29T16-01-48Z
        args:
        - --quiet
        - server
        - /data
        env:
        - name: MINIO_UPDATE
          value: "off"
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: MINIO_ACCESS_KEY
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-credentials
              key: MINIO_SECRET_KEY
        ports:
        - containerPort: 9000
        readinessProbe:
          httpGet:
            path: /minio/health/ready
            port: 9000
          initialDelaySeconds: 5
          periodSeconds: 20
        livenessProbe:
          httpGet:
            path: /minio/health/live
            port: 9000
          initialDelaySeconds: 5
          periodSeconds: 20
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: minio-migrate-fs-backend-pv-claim
