.Footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 42px;
  background-color: #fff;
  z-index: 400;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  align-items: center;
}

.text {
  font-size: 18px;
}
