.HomeContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.title {
  color: #323232;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #C4C8CA;
  margin-left: 8px;
  margin-right: 8px;
}