.InstanceTableContainer {
  width: 100%;
}

table {
  border-collapse: collapse;
  min-width: 50%;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

th, td {
  padding: 12px;
  min-width: 150px;
}

.url {
  color: #337AB7;
  cursor: pointer;
  text-decoration: underline;
}

.MonacoEditor-wrapper {
  display: flex;
  flex: 1;
  border: 1px solid #CCCCCC;
}

.status-text {
  font-weight: bold;

  &.Passed {
    color: #65A61D;
  }

  &.Failed {
    color: #BC4752;
  }

  &.Running {
    color: #999999;
  }
}
