.NavBarWrapper {
  width: 100%;
  padding: 13px 0;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0,0,0,.16);
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  background-image: url("../../images/replicated_logo_nav@2x.png");
  background-repeat: no-repeat;
  background-size: 146px 34px;
  width: 146px;
  height: 34px;
}

.home-btn {
  position: absolute;
  left: 22px;
  font-size: 20px;
  font-weight: bold;
  color: #337AB7;
  cursor: pointer;
  text-decoration: underline;
}
