<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Form to upload TLS certificate and key">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TLS Certificate and Key Upload</title>
    <link rel="stylesheet" href="/tls/assets/tls.css" />
    <!-- TODO remove cdn link after design pass -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
</head>
<body>
    {{if .Error }}
    <div class="container">
        <div class="notification is-warning">
            <p>The certficate and key pair you uploaded was invalid</p>
        </div>
    </div>
    {{end}}

    {{if .Success }}
    <div class="container">
        <div class="notification is-success">
            <p>Waiting for server to restart with new certificate</p>
        </div>
    </div>
    <script>setTimeout(function() {location.href = "/"}, 2000);</script>
    {{end}}

    {{if .Enabled}}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="field">
                <label class="label" for="cert">Certificate</label>
                <div class="control">
                    <input class="button" id="cert" type="file" name="cert">
                </div>
            </div>

            <div class="field">
                <label class="label" for="key">Key</label>
                <div class="control">
                    <input class="button" id="key" type="file" name="key">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="button is-primary" type="submit">
                </div>
            </div>
        </form>
    </div>
    {{end}}

    {{if .Help}}
    <div class="container">
        <div class="notification is-info">
            <p>Anonymous uploads have been disabled. Set acceptAnonymousUploads to 1 in the {{ .Secret }} secret to re-enable.</p>
        </div>
    </div>
    {{end}}
</body>
</html>
