---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kotsadm-api
spec:
  template:
    spec:
      containers:
      - name: kotsadm-api
        env:
        - name: PROMETHEUS_ADDRESS
          value: http://prometheus-k8s.monitoring.svc.cluster.local:9090
