apiVersion: apps/v1
kind: Deployment
metadata:
  name: ekc-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ekc-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ekc-operator
      annotations:
        ekco.kurl.sh/config-hash: $ekco_config_hash
    spec:
      serviceAccountName: ekco
      restartPolicy: Always
      affinity: 
        nodeAffinity: 
          requiredDuringSchedulingIgnoredDuringExecution: 
            nodeSelectorTerms: 
            - matchExpressions: 
              - key: node-role.kubernetes.io/control-plane 
                operator: Exists 
            - matchExpressions: 
              - key: node-role.kubernetes.io/master 
                operator: Exists
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
      containers:
        - name: ekc-operator
          image: replicated/ekco:v__EKCO_VERSION__
          imagePullPolicy: IfNotPresent
          command: [ /usr/bin/ekco, operator ]
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          env:
            - name: LOG_LEVEL
              value: info
          volumeMounts:
            - name: ekco-config
              mountPath: /etc/ekco
              readOnly: true
            - name: certificates-dir
              mountPath: /etc/kubernetes/pki
              readOnly: true
      volumes:
        - name: ekco-config
          configMap:
            name: ekco-config
        - name: certificates-dir
          hostPath:
            path: /etc/kubernetes/pki
            type: Directory
