apiVersion: v1
kind: Service
metadata:
  # This name uniquely identifies the service
  name: minio
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 9000
      protocol: TCP
  selector:
    # Looks for labels `app:minio` in the namespace and applies the spec
    app: minio
---
apiVersion: v1
kind: Service
metadata:
  name: ha-minio
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 9000
      protocol: TCP
  selector:
    app: ha-minio
