# Source: rook-ceph/charts/ceph-csi-operator/templates/operatorconfig-viewer-rbac.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ceph-csi-operatorconfig-viewer-role
  labels:
    helm.sh/chart: ceph-csi-operator-0.5.0
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/instance: replaceme
    app.kubernetes.io/version: "v0.5.0"
    app.kubernetes.io/managed-by: Helm
rules:
- apiGroups:
  - csi.ceph.io
  resources:
  - operatorconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - csi.ceph.io
  resources:
  - operatorconfigs/status
  verbs:
  - get
---
