- name: "prometheus minimal k8s 1.31"
  installerSpec:
    kubernetes:
      version: "1.31.x"
    flannel:
      version: latest
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: default
    containerd:
      version: "latest"
    prometheus:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "prometheus upgrade from 0.33.0"
  cpu: 5
  unsupportedOSIDs:
    - centos-74 # Rook 1.8+ not supported on 3.10.0-693.el7.x86_64 kernel
    - amazon-2023 # Kubernetes < 1.24 are not supported on Amazon Linux.
    - rocky-9 # Pinned installer version v2024.07.02-0 does not support rocky 9.
    - ubuntu-2404 # Pinned installer version v2024.07.02-0 does not support ubuntu 24.04.
    - centos-9 # Pinned installer version v2024.07.02-0 does not support centos 9.
  installerApiEndpoint: https://kurl.sh
  installerSpec:
    kurl:
      installerVersion: "v2024.07.02-0"
    kubernetes:
      version: "1.21.x"
    flannel:
      version: latest
    rook:
      version: "1.10.x"
      isBlockStorageEnabled: true
    containerd:
      version: "latest"
    prometheus:
      version: "0.33.0"
  upgradeSpec:
    kubernetes:
      version: "1.23.x"
    flannel:
      version: latest
    rook:
      version: "1.10.x"
      isBlockStorageEnabled: true
    containerd:
      version: "latest"
    prometheus:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "prometheus upgrade from 0.49.x"
  installerApiEndpoint: https://kurl.sh
  installerSpec:
    kurl:
      installerVersion: "v2024.07.02-0"
    kubernetes:
      version: "1.21.x"
    flannel:
      version: latest
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: localpv
    containerd:
      version: "latest"
    prometheus:
      version: "0.49.x"
  upgradeSpec:
    kubernetes:
      version: "1.23.x"
    flannel:
      version: latest
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: localpv
    containerd:
      version: "latest"
    prometheus:
      version: "__testver__"
      s3Override: "__testdist__"
  unsupportedOSIDs:
  - amazon-2023 # Kubernetes < 1.24 are not supported on Amazon Linux.
  - rocky-9 # Pinned installer version v2024.07.02-0 does not support rocky 9.
  - ubuntu-2404 # Pinned installer version v2024.07.02-0 does not support ubuntu 24.04.
  - centos-9 # Pinned installer version v2024.07.02-0 does not support centos 9.
- name: "prometheus upgrade from latest"
  installerApiEndpoint: https://kurl.sh
  installerSpec:
    kubernetes:
      version: "1.31.x"
    flannel:
      version: latest
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: default
    containerd:
      version: "latest"
    prometheus:
      version: "latest"
  upgradeSpec:
    kubernetes:
      version: "1.31.x"
    flannel:
      version: latest
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: default
    containerd:
      version: "latest"
    prometheus:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "prometheus with longhorn and containerd"
  installerSpec:
    kubernetes:
      version: "1.24.x"
    flannel:
      version: latest
    longhorn:
      version: "latest"
    containerd:
      version: "latest"
    prometheus:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "prometheus minimal airgap"
  installerSpec:
    kubernetes:
      version: "1.31.x"
    flannel:
      version: latest
    rook:
      version: "1.12.x"
      isBlockStorageEnabled: true
    containerd:
      version: "latest"
    prometheus:
      version: "__testver__"
      s3Override: "__testdist__"
  airgap: true
  preInstallScript: |
    source /opt/kurl-testgrid/testhelpers.sh
    rhel_9_install_host_packages lvm2 conntrack-tools socat container-selinux git
