[Unit]
After=kubelet.service
After=docker.service

[Service]
ExecStart=/opt/ekco/startup.sh
ExecStop=/opt/ekco/shutdown.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
