---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
metadata:
  name: kubeadm-cluster-configuration
kubernetesVersion: v$KUBERNETES_VERSION
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
controllerManager: 
  extraArgs:
    profiling: '"false"' 
useHyperKubeImage: false
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
    extraArgs:
      cipher-suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
networking:
  serviceSubnet: $SERVICE_CIDR
apiServer:
  extraArgs:
    service-node-port-range: "80-60000"
    tls-cipher-suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    profiling: '"false"'
    kubelet-certificate-authority: '"/etc/kubernetes/pki/ca.crt"' 
  certSANs:
  - "$PRIVATE_ADDRESS"
scheduler:
  extraArgs:
    profiling: '"false"'
