image cainjector quay.io/jetstack/cert-manager-cainjector:v__CERT_MANAGER_VERSION__
image cert-manager-controller quay.io/jetstack/cert-manager-controller:v__CERT_MANAGER_VERSION__
image cert-manager-webhook quay.io/jetstack/cert-manager-webhook:v__CERT_MANAGER_VERSION__
