name: build-test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - "**"

jobs:
  build-kurl-utils:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16.0

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: make -C kurl_util deps test build

      - uses: actions/setup-node@v2.1.5
        with:
          node-version: '12'
      - run: make -C web test


  build-bin-kurl:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16.0

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: make deps test build/bin/kurl


  build-testgrid:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16.0
    - name: setup env
      run: |
        echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      shell: bash

    - uses: actions/checkout@v2

    - run: make -C testgrid/tgrun test build
    - run: make -C testgrid/tgapi test build
