name: build-test

on: [ pull_request ]

jobs:

  validate-go-mod:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: go mod tidy -compat=1.17

  build-kurl-utils:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: make -C kurl_util deps test build

  build-web:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - run: make -C web deps test build

  test-shell:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt-get install -y shunit2
    - run: make test-shell shunit2

  build-kurlkinds:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: |
          make -C kurlkinds deps test manager

  build-bin-kurl:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: setup env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - uses: actions/checkout@v2

      - run: make deps test build/bin/kurl

  build-testgrid:
    runs-on: ubuntu-18.04
    needs: validate-go-mod
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: 1.17
    - name: setup env
      run: |
        echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      shell: bash

    - uses: actions/checkout@v2

    - run: make -C testgrid/tgrun test build
    - run: make -C testgrid/tgapi test build
    - run: make -C testgrid/web deps build-staging

  build-test-success:
    runs-on: ubuntu-latest
    needs:
    - validate-go-mod
    - build-kurl-utils
    - build-web
    - test-shell
    - build-kurlkinds
    - build-bin-kurl
    - build-testgrid
    steps:
    - run: echo "::notice ::build test success"
