name: testGrid-daily
on:
  schedule:
  - cron: "0 8 * * *"

defaults:
  run:
    working-directory: ./testgrid/tgrun

jobs:
  testgrid-daily:
    if: ${{ github.repository_owner == 'replicatedhq' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16.0

    - name: tgrun-build
      run: make build

    - name: testgrid-queue-prod
      env:
        TESTGRID_API_ENDPOINT: "https://api.testgrid.kurl.sh"
        TESTGRID_API_TOKEN: ${{ secrets.TESTGRID_PROD_API_TOKEN }}
      run: |
        ./bin/tgrun queue --ref "PROD-daily-$(date --utc +%FT%TZ)"

    - name: testgrid-queue-staging
      env:
        TESTGRID_API_ENDPOINT: "https://api.testgrid.kurl.sh"
        TESTGRID_API_TOKEN: ${{ secrets.TESTGRID_PROD_API_TOKEN }}
      run: |
        ./bin/tgrun queue --staging --ref "STAGING-daily-$(date --utc +%FT%TZ)"
