name: testGrid-daily
on:
  schedule:
  - cron: "0 8 * * *"
  workflow_dispatch: {}

jobs:
  testgrid-daily:
    if: ${{ github.repository_owner == 'replicatedhq' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: tgrun-build
      working-directory: ./testgrid/tgrun
      run: make build

    - name: testgrid-queue-prod
      env:
        TESTGRID_API_ENDPOINT: "https://api.testgrid.kurl.sh"
        TESTGRID_API_TOKEN: ${{ secrets.TESTGRID_PROD_API_TOKEN }}
      run: |
        ./testgrid/tgrun/bin/tgrun queue \
          --ref "PROD-daily-$(date --utc +%FT%TZ)" \
          --spec ./testgrid/specs/full.yaml \
          --os-spec ./testgrid/specs/os.yaml

    - name: testgrid-queue-staging
      env:
        TESTGRID_API_ENDPOINT: "https://api.testgrid.kurl.sh"
        TESTGRID_API_TOKEN: ${{ secrets.TESTGRID_PROD_API_TOKEN }}
      run: |
        ./testgrid/tgrun/bin/tgrun queue --staging \
          --ref "STAGING-daily-$(date --utc +%FT%TZ)" \
          --spec ./testgrid/specs/full.yaml \
          --os-spec ./testgrid/specs/os.yaml
