name: deploy-production

on:
  push:
    tags:
    - "v*.*.*"

jobs:
  verify-tag:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Verify version tag
      run: |
        export VERSION_TAG=$GITHUB_REF_NAME
        ./bin/verify-tag.sh "${VERSION_TAG}"

  get-staging-release:
    runs-on: ubuntu-20.04
    needs:
    - verify-tag
    outputs:
      staging_release: ${{ steps.get_staging_release.outputs.staging_release }}
    steps:
    - name: find corresponding staging release for tag
      id: get_staging_release
      run: |
        version_commit="$(git rev-list "${GITHUB_REF_NAME}" -n 1 | xargs git rev-parse --short)"
        staging_release_dir="$(aws s3 ls s3://"${S3_BUCKET}/${STAGING_PREFIX}/" | grep "${version_commit}" | awk '{print $2}')"
        if [ -z "${staging_release_dir}" ]; then
            echo "Could not find staging release for tag ${GITHUB_REF_NAME} (${version_commit})"
            return 1
        fi
        echo "staging_release=${staging_release_dir%/}" >> $GITHUB_OUTPUT
      env:
        S3_BUCKET: kurl-sh
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}
        AWS_REGION: "us-east-1"
        STAGING_PREFIX: "staging"

  verify-staging-release-testgrid-result:
    runs-on: ubuntu-20.04
    needs:
    - verify-tag
    - get-staging-release
    steps:
    - name: Verify testgrid run
      run: |
        testgrid_run_json=$(curl -s "https://api.testgrid.kurl.sh/api/v1/runs?searchRef=${STAGING_RELEASE}")
        if [ -z "${testgrid_run_json}" ]; then
          echo "Did not find testgrid run which contains ${STAGING_RELEASE} in its Ref"
          return 1
        fi

        echo "Found testgrid run:"
        echo ${testgrid_run_json} | jq

        tg_run_id=$(echo "${testgrid_run_json}" | jq -r '.runs[].id')
        if ! echo "${testgrid_run_json}" | jq -e '.runs[].failure_count == 0'; then
          echo "Testgrid Run ${tg_run_id} has failures"
          return 1
        fi
      env:
        STAGING_RELEASE: ${{ needs.get-staging-release.outputs.staging_release }}

  copy-staging-release-to-prod:
    runs-on: ubuntu-20.04
    needs:
     - verify-staging-release-testgrid-result
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Copy Staging Release to Prod
      run: |
        export VERSION_TAG=$GITHUB_REF_NAME
        . bin/upload-dist-versioned.sh
        copy_staging_release_to_dist
      env:
        S3_BUCKET: kurl-sh
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}
        AWS_REGION: "us-east-1"
        STAGING_RELEASE: ${{ needs.get-staging-release.outputs.staging_release }}

  generate-kurl-release-notes-pr:
    runs-on: ubuntu-20.04
    needs:
    - verify-tag
    - get-staging-release
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Generate kURL Release Notes PR
      env:
        GH_PAT: ${{ secrets.AUTOMATED_PR_GH_PAT }}
      run: |
        export VERSION_TAG=$GITHUB_REF_NAME
        curl -H "Authorization: token $GH_PAT" \
          -H 'Accept: application/json' \
          -d "{\"event_type\": \"kubernetes-installer-release-notes\", \"client_payload\": {\"version\": \"${VERSION_TAG}\" }}" \
          "https://api.github.com/repos/replicatedhq/replicated-docs/dispatches"

  kurl-util-image:
    runs-on: ubuntu-20.04
    needs:
    - verify-tag
    steps:
    - uses: actions/checkout@v3
    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_DOCKER_USER }}
        password: ${{ secrets.DOCKERHUB_DOCKER_PASS }}
    - run: |
        export VERSION_TAG=$GITHUB_REF_NAME
        export KURL_UTIL_IMAGE=replicated/kurl-util:${VERSION_TAG}
        make -C kurl_util build-and-push-kurl-util-image
        docker tag replicated/kurl-util:${VERSION_TAG} replicated/kurl-util
        docker push replicated/kurl-util

  github-release:
    runs-on: ubuntu-20.04
    needs:
    - kurl-util-image
    - copy-staging-release-to-prod
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # Node and Go are needed by the SBOM generator
    - uses: actions/setup-node@v3
      with:
        node-version: '14'

    - name: setup-go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Get the version
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Generate Changelog
      run: |
        git fetch --tags -f
        lastTag=$(git tag | grep '^v20' | grep -v 'v2022\.09\.04' | grep -v "$GIT_TAG" | sort | tail -1)
        docker run --rm \
          --env CHANGELOG_GITHUB_TOKEN \
          -v `pwd`:/usr/local/src/your-app \
          ferrarimarco/github-changelog-generator \
          --user=replicatedhq \
          --project=kurl \
          --release-branch=main \
          --since-tag="$lastTag" \
          --no-issues \
          --no-author
        sed -i '/This Changelog was automatically generated/d' ./CHANGELOG.md
      env:
        CHANGELOG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}

    - name: Read Changelog
      id: read-changelog
      uses: juliangruber/read-file-action@v1
      with:
        path: ./CHANGELOG.md

    - name: GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
      with:
        tag_name: ${{ env.GIT_TAG }}
        release_name: Release ${{ env.GIT_TAG }}
        body: ${{ steps.read-changelog.outputs.content }}
        draft: false
        prerelease: false

    - name: Get Cosign Key
      run: | 
        echo $COSIGN_KEY | base64 -d > ./cosign.key
      env:
        COSIGN_KEY: ${{secrets.COSIGN_KEY}}

    - uses: sigstore/cosign-installer@main
      with:
        cosign-release: 'v1.2.1'

    - name: Generate SBOM
      run: |
        make sbom
      env:
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        COSIGN_KEY: ${{ secrets.COSIGN_KEY }}

    - uses: shogo82148/actions-upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: sbom/assets/*

  set-current-version:
    runs-on: ubuntu-20.04
    needs:
    - copy-staging-release-to-prod
    steps:
    - name: Set VERSION file in s3
      run: |
        export VERSION_TAG=$GITHUB_REF_NAME
        echo -n "$VERSION_TAG" | aws s3 cp - s3://$S3_BUCKET/$DIST_FOLDER/VERSION
      env:
        S3_BUCKET: kurl-sh
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "us-east-1"
        DIST_FOLDER: "dist"

  testgrid-run:
    runs-on: ubuntu-20.04
    needs:
    - set-current-version
    steps:

    - name: Sleep for 3 minutes
      uses: juliangruber/sleep-action@v1
      with:
        time: "3m"

    - name: Checkout
      uses: actions/checkout@v3

    - name: Get the version
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Tgrun Queue
      id: queue
      env:
        TESTGRID_API_TOKEN: ${{ secrets.TESTGRID_PROD_API_TOKEN }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
      run: |
        REF="PROD-release-${GIT_TAG}-$(date '+%Y%m%d%H%M%S')"
        docker pull replicated/tgrun:latest
        docker run --rm -e TESTGRID_API_TOKEN -v `pwd`:/wrk -w /wrk \
          replicated/tgrun:latest queue \
            --ref "${REF}" \
            --spec ./testgrid/specs/deploy.yaml \
            --os-spec ./testgrid/specs/os-latest.yaml \
            --priority 1
        MSG="Testgrid Run(s) Executing @ https://testgrid.kurl.sh/run/${REF}"
        echo "::set-output name=msg::${MSG}"
        echo "::notice ::${MSG}"
