name: import-external-addons

on:
  workflow_dispatch:
  schedule:
    - cron: "0/15 * * * *"

jobs:
  import-external-addons:
    concurrency: import-external-addons
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/import-external-addons
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}
