
name: test-addon-pr.yaml

on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  test-addons:
    if: ${{ github.repository_owner == 'replicatedhq' }}

    runs-on: ubuntu-latest

    steps:
        
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check for Modified Addons
        id: check
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}
          S3_BUCKET: "kurl-sh"
        run: |
          source ./bin/test-addon-pr.sh
          check

      - name: Setup Go
        uses: actions/setup-go@v1
        if: ${{ steps.check.outputs.addons_available == 'true' }}
        with:
          go-version: 1.15.1

      - name: Tgrun Build
        if: ${{ steps.check.outputs.addons_available == 'true' }}
        working-directory: ./testgrid/tgrun
        run: make build

      - name: Tgrun Queue
        id: queue
        if: ${{ steps.check.outputs.addons_available == 'true' }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}
          S3_BUCKET: "kurl-sh"
        run: |
          source ./bin/test-addon-pr.sh
          run

      - name: Post TG URL
        uses: unsplash/comment-on-pr@master
        if: ${{ steps.check.outputs.addons_available == 'true' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          msg: ${{ steps.queue.outputs.msg }}
          check_for_duplicate_msg: true 

