
name: test-addon-pr.yaml

on:
  pull_request:
    branches:
      - main
    paths:
      - 'addons/**'

  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-addons:
    if: >-
      ${{ github.repository_owner == 'replicatedhq' &&
         github.actor != 'dependabot' &&
         github.actor != 'replicated-ci-kurl' &&
         !contains(github.event.pull_request.labels.*.name, 'skip-testgrid') }}
    runs-on: ubuntu-24.04
    outputs:
      addons: ${{ steps.check.outputs.addons }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check for Modified Addons
        id: check
        run: |
          ./bin/addon-has-changes-matrix.sh

  test-addons:
    needs: check-addons
    if: needs.check-addons.outputs.addons
    strategy:
      matrix: ${{ fromJSON(needs.check-addons.outputs.addons) }}
      fail-fast: false
      max-parallel: 5
    uses: ./.github/workflows/test-addon.yaml
    with:
      addon: ${{ matrix.addon }}
      version: ${{ matrix.version }}
      prefix: ${{ matrix.prefix }}
    secrets: inherit
