name: cron-velero-update
on:
  schedule:
  - cron: "0 4 * * 1,2,3,4,5" # “At 04:00 on Monday, Tuesday, Wednesday, Thursday, and Friday.”
  workflow_dispatch: {}

jobs:
  build-pr-velero:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Create Velero Update
      id: update
      working-directory: ./addons/velero/template
      run: ./generate.sh

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v5.0.0
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Velero version
        title: 'Automated Velero version update ${{ steps.update.outputs.velero_version }}'
        branch: automation/update-velero
        delete-branch: true
        labels: |
          automated-pr
          velero
          type::chore
          kurl::type::feature
        draft: false
        base: "main"
        body: |
          Automated changes by the [cron-veler-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-veler.yaml) GitHub action
          
          ```release-note
          Adds [Velero add-on](https://kurl.sh/docs/add-ons/velero) version ${{ steps.update.outputs.velero_version }}.
          ```
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
