name: cron-weave-update
on:
  schedule:
  - cron: '0 4 * * *'
  workflow_dispatch: {}

jobs:
  build-pr-weave:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Create Weave Update
      id: update
      working-directory: ./addons/weave/template
      run: ./generate.sh

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v4.0.3
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Weave version
        title: 'Automated Weave version update ${{ steps.update.outputs.weave_version }}'
        branch: automation/update-weave
        delete-branch: true
        labels: |
          automated-pr
          weave
        draft: false
        base: "main"
        body: "Automated changes by the [cron-weave-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-weave.yaml) GitHub action"

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
