name: cron-prometheus-update
on:
  schedule:
  - cron: "0 1 * * 1" # "At 01:00 on Monday."
  workflow_dispatch:
    inputs:
      version:
        description: 'Prometheus version to generate in VERSION-CHARTVERSION format (e.g., 0.88.0-81.2.2)'
        required: false
        type: string

jobs:
  build-pr-prometheus:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Create Prometheus Update
      id: update
      working-directory: ./addons/prometheus/template
      run: |
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
        if [ -n "${{ inputs.version }}" ]; then
          ./generate.sh --version=${{ inputs.version }}
        else
          ./generate.sh
        fi

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v8.0.0
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Prometheus version
        title: 'Automated Prometheus version update ${{ steps.update.outputs.prometheus_version }}'
        branch: automation/update-prometheus
        delete-branch: true
        labels: |
          automated-pr
          prometheus
          type::chore
          kurl::type::feature
        draft: false
        base: "main"
        body: |
          Automated changes by the [cron-prometheus-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-prometheus.yaml) GitHub action

          ```release-note
          Adds [Prometheus add-on](https://kurl.sh/docs/add-ons/prometheus) version ${{ steps.update.outputs.prometheus_version }}.
          ```
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
