name: cron-rook-update
on:
  schedule:
  - cron: '0 4 * * *'
  workflow_dispatch: {}

jobs:
  build-pr-rook:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Create Rook Update
      id: update
      working-directory: ./addons/rook/template
      run: ./generate.sh

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v3
      id: cpr
      with:
        token: ${{ secrets.GH_PAT }}
        commit-message: Create new Rook version
        title: 'Automated Rook version update ${{ steps.update.outputs.rook_version }}'
        branch: automation/update-rook
        delete-branch: true
        labels: |
          automated-pr
          rook
        draft: false
        base: "master"
        body: "Automated changes by the [cron-rook-update](https://github.com/replicatedhq/kURL/blob/master/.github/workflows/update-rook.yaml) GitHub action"

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
