name: cron-contour-update
on:
  schedule:
  - cron: "0 1 * * 1" # “At 01:00 on Monday.”
  workflow_dispatch: {}

jobs:
  build-pr-contour:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Create Contour Update
      id: update
      working-directory: ./addons/contour/template
      run: ./script.sh

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v7.0.8
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Contour version
        title: 'Automated Contour version update ${{ steps.update.outputs.contour_version }}'
        branch: automation/update-contour
        delete-branch: true
        labels: |
          automated-pr
          contour
          type::chore
          kurl::type::feature
        draft: false
        base: "main"
        body: |
          Automated changes by the [cron-contour-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-contour.yaml) GitHub action
          
          ```release-note
          Adds [Contour add-on](https://kurl.sh/docs/add-ons/contour) version ${{ steps.update.outputs.contour_version }}.
          ```

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
