name: cron-rook-update
on:
  schedule:
  - cron: "0 1 * * 1" # “At 01:00 on Monday.”
  workflow_dispatch:
    inputs:
      version:
        description: "Rook version to update to (default: latest)"
        required: false
      force:
        description: "Force update even if the version is already in the manifest"
        required: false

jobs:
  build-pr-rook:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Create Rook Update
      id: update
      working-directory: ./addons/rook/template
      run: |
        ./generate.sh --version=${{ github.event.inputs.version }} ${{ github.event.inputs.force == 'true' && '--force' || '' }}

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v7.0.9
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Rook version
        title: 'Automated Rook version update ${{ steps.update.outputs.rook_version }}'
        branch: automation/update-rook
        delete-branch: true
        labels: |
          automated-pr
          rook
          type::chore
          kurl::type::feature
        draft: false
        body: |
          Automated changes by the [cron-rook-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-rook.yaml) GitHub action
          
          ```release-note
          Adds [Rook add-on](https://kurl.sh/docs/add-ons/rook) verison ${{ steps.update.outputs.rook_version }}.
          ```
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
