name: cron-containerd-update
on:
  schedule:
  - cron: "0 1 * * 1" # “At 01:00 on Monday.”
  workflow_dispatch: {}

jobs:
  build-pr-containerd:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Create Containerd Update
      id: update
      working-directory: ./addons/containerd/template
      run: ./script.sh

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v8.1.0
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Containerd version
        title: 'Automated Containerd version update ${{ steps.update.outputs.containerd_version }}'
        branch: automation/update-containerd
        delete-branch: true
        labels: |
          automated-pr
          containerd
          type::chore
          kurl::type::feature
        draft: false
        base: "main"
        body: |
          Automated changes by the [cron-containerd-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-containerd.yaml) GitHub action
          
          ```release-note
          Adds [Containerd add-on](https://kurl.sh/docs/add-ons/containerd) version ${{ steps.update.outputs.containerd_version }}.
          ```

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
