name: cron-weave-update

on:
  schedule:
  - cron: "0 1 * * 1" # “At 01:00 on Monday.”

  workflow_dispatch:
    inputs:
      version:
        description: version to build


jobs:
  build-pr-weave:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Create Weave Update
      id: update
      working-directory: ./addons/weave/template
      run: ./generate.sh $VERSION
      env:
        VERSION: ${{ github.event.inputs.version }}

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v7.0.8
      id: cpr
      with:
        token: ${{ secrets.AUTOMATED_PR_GH_PAT }}
        commit-message: Create new Weave version
        title: 'Automated Weave version update ${{ steps.update.outputs.weave_version }}'
        branch: automation/update-weave-${{ steps.update.outputs.weave_major_minor_version }}
        delete-branch: true
        labels: |
          automated-pr
          weave
          type::chore
          kurl::type::feature
        draft: false
        base: "main"
        body: |
          Automated changes by the [cron-weave-update](https://github.com/replicatedhq/kURL/blob/main/.github/workflows/update-weave.yaml) GitHub action
          
          ```release-note
          Adds [Weave add-on](https://kurl.sh/docs/add-ons/weave) version ${{ steps.update.outputs.weave_version }}.
          ```
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
